<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar CEME</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav style="border-bottom: 1px solid black;" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/MICROSERVICO-FRONTEND-SERVER/">Sistema de Carregamento</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/postos">Postos de Carregamento</a></li>
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/sessoes">Sessões de Carregamento</a></li>
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/faturas">Fáturas</a></li>
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/gestao/OPC">Gestão de OPC</a></li>
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/gestao/CEME">Gestão de CEME</a></li>
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/gestao/ADMIN">Gestão de ADMIN</a></li>
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1 class="mb-4">Criar CEME</h1>

    <!-- Formulário para criar um novo CEME -->
    <form th:action="@{/gestao/CEME/criar}" method="post">
        <div class="mb-3">
            <label for="fornecedor" class="form-label">Nome do Fornecedor</label>
            <input type="text" class="form-control" id="fornecedor" name="fornecedor" placeholder="Informe o nome do fornecedor" required>
        </div>
        <div class="mb-3">
            <label for="precoPorKWH" class="form-label">Preço por kWh</label>
            <input type="number" class="form-control" id="precoPorKWH" name="precoPorKWH" step="0.01" placeholder="Informe o preço por kWh" required>
        </div>

        <button type="submit" class="btn btn-primary">Criar CEME</button>
    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
