<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Fatura</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav style="border-bottom: 1px solid black;" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/MICROSERVICO-FRONTEND-SERVER/">Sistema de Carregamento</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/postos">Postos de Carregamento</a></li>
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/sessoes">Sessões de Carregamento</a></li>
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/faturas">Fáturas</a></li>
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/gestao/OPC">Gestão de OPC</a></li>
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/gestao/CEME">Gestão de CEME</a></li>
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/gestao/ADMIN">Gestão de ADMIN</a></li>
                <li class="nav-item"><a class="nav-link" href="/MICROSERVICO-FRONTEND-SERVER/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1 class="mb-4">Detalhes da Fatura</h1>

    <div class="mt-4">
        <p><strong>ID da Fatura:</strong> <span th:text="${fatura.id}"></span></p>
        <p><strong>Email do Utilizador:</strong> <span th:text="${fatura.emailUtilizador}"></span></p>
        <p><strong>Consumo de Energia:</strong> <span th:text="${fatura.consumoEnergia}"></span> kWh</p>
        <p><strong>Custo Total:</strong> <span th:text="${fatura.custoTotal}"></span> €</p>
        <p><strong>Data Emitida:</strong> <span th:text="${#temporals.format(fatura.dataEmitida, 'dd/MM/yyyy HH:mm')}"></span></p> <!-- Exibição da data emitida -->
    </div>

    <!-- Exibição de mais detalhes (se necessário) -->
    <div class="mt-5">
        <a th:href="@{/faturas}" class="btn btn-secondary">Voltar à lista de faturas</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
